body {
    width: 100vmax;
    height: auto;
    font-family: sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

header nav div {
    width: 100%;
    position: fixed;
    display: flex;
    /* grid-template-columns: repeat(4, 1fr); */
    top: 0;
    margin-top: 0;
    /* z-index: 1000; */
    justify-content: space-between;
    transition: top 0.5s;
    opacity: 0.5;
}
/* header nav .nav{
    border-bottom: rgb(121, 11, 11) solid;
} */
header nav div .list1 {
    position: relative;
    display: flex;
    /* gap: 2rem; */
    /* width: 50%; */
}

header nav div .list2 {
    position: relative;
    display: flex;
    gap: 1rem;
    /* justify-content: space-around; */
    width: 100%;
    margin-left: 40%;
    /* margin-right: 2rem; */
    text-transform: capitalize;
}
header nav div ul li {
    /* padding-bottom: 0%; */
    padding-left: 20px;
    padding-right: 10px;
    border-left: 2px rgb(246, 246, 246) solid;
    /* border-bottom: 2px rgb(246, 246, 246) solid; */
}
header nav div ul li select {
    font-size: 20px;
    column-gap: 2rem;
    border: none;
    outline: none;
    margin: 2px;
    margin-top: 0;
    border-style: solid;
}
header nav div ul li .lnr-magnifier {
    color: black;
    font-size: large;
}
.section1 {
    width: 100%;
    height: auto;
    background-color: rgb(238, 243, 248);
    position: fixed;
    display: grid;
    top: 0;
    left: 0;
    z-index: 1;
    backdrop-filter: blur(20px);
    margin-top: 50px;
}
.section1 .listrace {
    width: 100%;
    position: relative;
    display: flex;
}

.section1 .listrace .race {
    font-size: xx-large;
    text-decoration: none;
    text-transform: capitalize;
    color: black;
}

.section1 .listrace .race span {
    text-transform: capitalize;
    color: rgb(255, 31, 31);
}

.section1 .listrace .section1list {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-left: 40%;
    margin-right: 5%;
    text-transform: uppercase;
}

.section2 {
    background-image: url(./images/welcome-hero/banner.jpg);
    background-position: center;
    background-size: 100vmax;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    font-size: x-large;
    color: white;
    text-align: center;
}

.section2 .maindiv .bestplace h2 {
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    color: white;
    padding-top: 10%;
}

.section2 .what-location-search {
    width: 100%;
    text-align: center;
    justify-content: center;
    position: absolute;
    display: flex;
    top: 50%;
}

.section2 .what-location-search .what {
    position: absolute;
    display: flex;
}
.section2 .what-location-search .what-box .what .formandinput form input {
    border: none;
    outline: none;
    font-size: large;
    width: 20rem;
    text-transform: capitalize;
    padding-left: 1rem;
    padding-top: 0.5rem;
}

.section2 .what-location-search .location {
    display: flex;
    margin-left: 28rem;
    padding-left: 40px;
}
.section2 .what-location-search .location form input {
    font-size: large;
    width: 20rem;
    height: 2rem;
    border: none;
    outline: none;
    text-transform: capitalize;
    padding-left: 1rem;
}

.section2 .what-location-search .search button {
    background-color: red;
    color: white;
    font-size: 16px;
    width: 8rem;
    height: 5rem;
    text-transform: capitalize;
    border: none;
    border-radius: 5px;
    padding: 25px;
    margin-left: 15px;
}
.section2 .what-location-search .what, .location{
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;

}
.what-location-search span {
    font-size: xx-large;
    font-weight: bolder;
}



.section3 {
    text-transform: capitalize;
}

.section3 .section3-div {
    top: 85%;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
    margin-right: 2rem;
    margin-left: 7rem;
}
.section3 .section3-div .sec3 i {
    font-size: xx-large;
}
.section3 .section3-div .sec3 {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
    width: 100%;
    box-shadow: 1px 1px 2px 2px gray;
}
.resturant-hover:hover .resturant {
    background-color: red;
    color: white;
    box-shadow: 7px 7px 10px 0px rgb(220, 220, 220);
    transition: ease-in-out 0.5s;
}
.resturant-hover:hover .resturant a {
    color: white;
    transition: ease-in-out 0.5s;
}

.destination-hover:hover .destination {
    background-color: red;
    color: white;
    box-shadow: 7px 7px 10px 0px rgb(220, 220, 220);
    transition: ease-in-out 0.5s;
}
.destination-hover:hover .destination a {
    color: white;
    transition: ease-in-out 0.5s;
}

.hotels-hover:hover .hotels {
    background-color: red;
    color: white;
    box-shadow: 7px 7px 10px 0px rgb(220, 220, 220);
    transition: ease-in-out 0.5s;
}
.hotels-hover:hover .hotels a {
    color: white;
    transition: ease-in-out 0.5s;
}

.healthcare-hover:hover .healthcare {
    background-color: red;
    color: white;
    box-shadow: 7px 7px 10px 0px rgb(220, 220, 220);
    transition: ease-in-out 0.5s;
}
.healthcare-hover:hover .healthcare a {
    color: white;
    transition: ease-in-out 0.5s;
}

.automotion-hover:hover .automotion {
    background-color: red;
    color: white;
    box-shadow: 7px 7px 10px 0px rgb(220, 220, 220);
    transition: ease-in-out 0.5s;
}
.automotion-hover:hover .automotion a {
    color: white;
    transition: ease-in-out 0.5s;
}



.section4 {
    margin-top: 35%;
    margin-bottom: 10%;
}

.section4 .sec4header {
    text-align: center;
    margin-bottom: 5%;
}

.section4 .sec4header h2 {
    text-transform: uppercase;
}

.section4 .section4div .group {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    margin-right: 5%;
    margin-left: 2%;
}

.section4 .section4div .group .cfe {
    box-shadow: 1px 1px 2px 2px rgb(187, 186, 186);
    width: 100%;
    height: auto;
    margin-right: 10%;
    padding: 10px;
    text-align: center;
    text-transform: capitalize;
    line-height: 30px;
}
.section4 .section4div .group .cfe i {
    font-size: 50px;
}
/* :hover .section4 .section4div .group .cfe {
    background-color: brown;
} */
.section4 .section4div .group .cfe button {
    text-transform: capitalize;
    font-size: 14px;
    padding: 10px;
}
.section4 .section4div .group .choose {
    margin-left: 5%;
}

.choose-hover:hover .choose {
    background-color: red;
    color: white;
    box-shadow: 7px 7px 10px 0px rgb(220, 220, 220);
    transition: ease-in-out 0.5s;
}
.choose-hover:hover button {
    background-color: white;
    color: red;
    border: none;
    transition: ease-in-out 0.5s;
}
.choose-hover:hover .choose a {
    color: white;
    transition: ease-in-out 0.5s;
}

.find-hover:hover .find {
    background-color: red;
    color: white;
    box-shadow: 7px 7px 10px 0px rgb(220, 220, 220);
    transition: ease-in-out 0.5s;
}
.find-hover:hover button {
    background-color: white;
    color: red;
    border: none;
    transition: ease-in-out 0.5s;
}
.find-hover:hover .find a {
    color: white;
    transition: ease-in-out 0.5s;
}

.explore-hover:hover .explore {
    background-color: red;
    color: white;
    box-shadow: 7px 7px 10px 0px rgb(220, 220, 220);
    transition: ease-in-out 0.5s;
}
.explore-hover:hover button {
    background-color: white;
    color: red;
    border: none;
    transition: ease-in-out 0.5s;
}
.explore-hover:hover .explore a {
    color: white;
    transition: ease-in-out 0.5s;
}


.section5 {
    background-color: rgb(229, 229, 229);
    width: 100%;
    margin-bottom: 5%;
    padding-bottom: 10%;
}

.section5 .section-header h2 {
    text-transform: uppercase;
}

.section5 .section-header {
    text-align: center;
    margin-bottom: 5rem;
    padding-top: 10%;
}

.section5 .row {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding-bottom: 10%;
}
.section5 .row .col-md-4 {
    width: 90%;
    margin-left: 5%;
    box-shadow: 2px 2px 2px 2px rgb(181, 178, 178);
}

.single-explore-img .single-explore-img-info {
    width: 30%;
    position: absolute;
    display: flex;
    gap: 35%;
}
.single-explore-img .explore-img-info1 {
    top: 15%;
    opacity: 0;
}
.col-md-4:hover .explore-img-info1 {
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.single-explore-img .explore-img-info2 {
    top: 15%;
    opacity: 0;
}
.col-md-4:hover .explore-img-info2 {
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.single-explore-img .explore-img-info3 {
    top: 15%;
    opacity: 0;
}
.col-md-4:hover .explore-img-info3 {
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.single-explore-img .explore-img-info4 {
    top: 62%;
    opacity: 0;
}
.col-md-4:hover .explore-img-info4 {
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.single-explore-img .explore-img-info5 {
    top: 62%;
    opacity: 0;
}
.col-md-4:hover .explore-img-info5 {
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.single-explore-img .explore-img-info6 {
    top: 62%;
    opacity: 0;
}
.col-md-4:hover .explore-img-info6 {
    opacity: 1;
    transition: ease-in-out 0.5s;
    transform-origin: bottom;
}

.single-explore-img .single-explore-img-info button {
    height: 25px;
    background-color: rgb(242, 73, 73);
    color: white;
    text-transform: capitalize;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    margin-left: 10px;
}
.single-explore-img .single-explore-img-info .single-explore-image-icon-box ul {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
    right: 20%;
}
.single-explore-img .single-explore-img-info .single-explore-image-icon-box ul li {
    /* width: 20px; */
    /* height: 15px; */
    text-align: center;
    background-color: black;
    color: white;
    padding: 5px;
}

.section5 .explore-content .row .col-sm-6 .single-explore-item .single-explore-img img {
    width: 100%;
    /* width: 300px; */
}
.section5 .explore-content .row .col-sm-6 .single-explore-item .single-explore-txt .explore-open-close-part .class-row-2 {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    border-top: 2px rgb(212, 210, 210) solid;
    padding-top: 1rem;
    padding-bottom: 2rem;
}
.section5 .explore-content .row .col-sm-6 .single-explore-item .single-explore-txt .explore-open-close-part .class-row-2 .close-btn {
    color: red;
    border: none;
    background: none;
    font-size: 14px;
}
.section5 .explore-content .row .col-sm-6 .single-explore-item .single-explore-txt .explore-open-close-part .class-row-2 .open-btn {
    color: rgb(0, 164, 0);
}


.section5 .explore-content .row h2 {
    text-transform: capitalize;
    font-weight: lighter;
}

.section5 .explore-content .row .col-sm-6 .bg-theme-1 .explore-rating-price .explore-rating {
    background-color: rgb(77, 142, 206);
    color: white;
    padding: 5px;
    border-radius: 5px;
}
.section5 .explore-content .row .col-sm-6 .bg-theme-2 .explore-rating-price .explore-rating {
    background-color: rgb(0, 164, 0);
    color: white;
    padding: 5px;
    border-radius: 5px;
}
.section5 .explore-content .row .col-sm-6 .bg-theme-3 .explore-rating-price .explore-rating {
    background-color: rgb(196, 196, 15);
    color: white;
    padding: 5px;
    border-radius: 5px;
}
.section5 .explore-content .row .col-sm-6 .bg-theme-4 .explore-rating-price .explore-rating {
    background-color: rgb(159, 43, 182);
    color: white;
    padding: 5px;
    border-radius: 5px;
}
.section5 .explore-content .row .col-sm-6 .bg-theme-2 .explore-rating-price .explore-rating {
    background-color: rgb(0, 164, 0);
    color: white;
    padding: 5px;
    border-radius: 5px;
}
.section5 .explore-content .row .col-sm-6 .bg-theme-5 .explore-rating-price .explore-rating {
    background-color: rgb(240, 124, 88);
    color: white;
    padding: 5px;
    border-radius: 5px;
}
.section5 .explore-content .row .col-sm-6 .single-explore-txt .explore-rating-price .explore-price{
    color: red;
    padding: 5px;
    border-radius: 5px;
}

.section5 .explore-content .row .col-sm-6 .single-explore-txt{
    padding-left: 10px;
}

.section5 .explore-content .row .col-sm-6 .single-explore-txt .explore-rating-price .explore-price-box {
    border-left: 2px solid;
    border-right: 2px solid;
    border-color: gray;
    padding-left: 5px;
}

.section5 .explore-content .row .single-explore-txt .explore-person .row {
    /* width: 100%; */
    display: flex;
    position: relative;
    padding-right: 30px;
}

.section5 .explore-person .col-sm-10 {
    padding-right: 20px;
    opacity: 0.7;
}

.section6 {
    width: 100%;
    margin-bottom: 10%;
    overflow: hidden;
}
.section6 .section-header {
    text-align: center;
}
.section6 .section-header h2 {
    text-transform: uppercase;
}
.section6 .testimonial-carousel {
    position: relative;
    display: flex;
    /* flex-wrap: wrap; */
    /* transition: transform 0.5s ease-in-out; */
    gap: 1rem;
    text-align: center;
}
.section6 .testimonial-carousel .single-testimonial-box {
    min-width: 30%;
    width: 30%;
    box-shadow: 2px 2px 2px 2px gray;
    transition: ease-in-out 0.2s;
    transition-property: all;
    padding: 10px;
    margin-bottom: 5px;
}
.section6 .testimonial-carousel .single-testimonial-box .testimonial-person-star {
    color: rgb(227, 204, 0);
}

.section7 {
    width: 100%;
    height: 50vh;
    background-image: url(./images/counter/counter-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.section7 .container .statistics-counter h3{
    text-transform: capitalize;
    font-size: 20px;
}

.section7 .container .single-ststistics-box .statistics-content {
    font-size: 32px;
    font-weight: bold;
}

.section7 .container .statistics-counter {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    gap: 10rem;
    text-align: center;
    padding-top: 10%;
    padding-left: 2%;
    padding-right: 2%;
}

.section8 {
    width: 100%;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10%;
}
.section8 .section-header h2{
    text-transform: uppercase;
}
.section8 .section-header {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
}
.section8 .container .blog-content .row {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    left: 3%;
    right: 3%;
}
.section8 .container .blog-content .row .single-blog-item {
    box-shadow: 1px 1px 1px 2px rgb(217, 211, 211);
}
.section8 .container .blog-content .row .single-blog-item .single-blog-item-txt {
    padding: 10px;
    line-height: 1.6;
}
.section8 .container .blog-content .row .single-blog-item .single-blog-item-txt p{
    word-spacing: 10px;
}
.section8 .container .blog-content .row .single-blog-item .single-blog-item-txt h4 a {
    padding-right: 10px;
    border-right: 2px rgb(226, 224, 224) solid;
}
.col-sm-6:hover .single-blog-item-txt h2 a {
    color: red;
    transition: ease-in-out 0.2s;
}
.col-sm-6:hover .single-blog-item {
    box-shadow: 7px 7px 10px 0px rgb(220, 220, 220);
}

.section9 {
    background-color: rgb(236, 234, 234);
    height: auto;
    padding-top: 10%;
    padding-bottom: 10%;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: sans-serif;
    text-align: center;
}
.section9 .container .subscribe-title{
    margin-bottom: 3rem;
    line-height: 2rem;
}
.section9 .container .subscribe-title h2 {
    text-transform: uppercase;
}
.section9 .container .subscribe-title p {
    font-size: larger;
    color: rgb(50, 50, 50);
    opacity: 0.7;
}
.section9 .container .row .subscription-input-group form {
    position: relative;
    display: flex;
    justify-content: center;
}

.section9 .container .row .subscription-input-group .subscription-input-form {
    font-size: large;
    width: 30rem;
    height: 3.2rem;
    border: none;
    outline: none;
    padding-left: 1rem;
    border-radius: 5px 0px 0px 5px;
    box-shadow: 2px 1px 1px 1px rgb(215, 215, 215);
}

.section9 .container .row .subscription-input-group .appsLand-btn {
    background-color: rgb(243, 71, 71);
    color: white;
    font-size: 16px;
    width: 10rem;
    height: 3.4rem;
    text-transform: capitalize;
    border: none;
    outline: none;
    border-radius: 0px 5px 5px 0px;
    padding: 10px;
}
.section9 .container .row:hover .subscription-input-form {
    box-shadow: 10px 10px 10px 6px rgb(215, 215, 215);
    transition: ease-in-out 0.5s;
}

.section9 .container .row:hover .appsLand-btn {
    background-color: red;
    box-shadow: 10px 10px 10px 5px rgb(202, 202, 202);
    transition: ease-in-out 0.5s;
}


footer {
    width: 100%;
    margin-top: 5%;

}
.footer .container .footer-menu .row {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-right: 2rem;
    padding-bottom: 2rem;
    border-bottom: 2px solid rgb(216, 215, 215);
}
.footer .container .footer-menu .row .col-sm-9 ul {
    position: relative;
    display: flex;
    gap: 2rem;
    text-transform: uppercase;
}
.footer .container .footer-menu .row .navbar-header {
    font-size: xx-large;
    text-decoration: none;
    text-transform: capitalize;
    color: black;
}
.footer .container .footer-menu .row .navbar-header span {
    color: rgb(255, 31, 31);
}

.footer .container .hm-footer-copyright .row {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-right: 2rem;
    margin-left: 1rem;
    margin-top: 2rem;
    text-transform: capitalize;
    opacity: 0.5;
}

.footer .container .hm-footer-copyright .row .footer-social {
    /* position: absolute; */
    display: flex;
    gap: 2rem;
}
.footer .container .hm-footer-copyright .row .footer-social a {
    font-size: large;
    background-color: rgb(197, 197, 197);
    padding: 10px;
    border-radius: 50%;
}
